<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Simplest App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="discription" content="Simples Flask app for memoraizing steps of web">
  <meta name="author" content="Alexander Kulyk">
  <meta name="keywords" content="Flask, MySQL, base steps of web app">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="/static/bundle.js"></script>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
